body {
	padding: 60px;
	background-color: #FAF9F6;
	font-family: 'Poppins', sans-serif;
}

.nav li {
	padding-top: 10px;
	padding-bottom: 10px;
}

label {
	display: block;
	margin-top: 10px;
}
input {
	display:block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.active_listing {
	margin-top: 40px;
	background-color: rgba(199, 199, 199, 0.664);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.active_listing img {
	max-width: 400px;
	width: 90%;
}

.listing_page {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	background-color: rgba(75, 114, 139, 0.685);
	padding: 25px;
	margin-bottom: 20px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.listing_page img {
	max-width: 400px;
	width: 90%;
}

textarea{
	width: 90%;
	padding:20px;

}

.comment_block{
	width: 90%;
	margin-top: 40px;
	background-color: rgba(157, 161, 163, 0.685);
	padding: 15px;
	padding-top: 30px;
	margin-bottom: 20px;
	border: solid;
}

.comment_block h6 {
	font-weight: 600;
	font-size: 110%;;
}

.categories ul{
	list-style: none;
	margin-top: 30px;
}

.categories a{
	color:rgb(2, 68, 5)
}