{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings%}
        {% if listing.is_active %}
        <div class = "active_listing">  
            <a href="{% url 'listing_page' listing.id %}"><h4>{{listing.title}}</h4></a>
            <h6>Seller: {{listing.seller}}</h6>
            <p>{{listing.description}}</p>
            {% if listing.bids.last.amount %}
                <p>${{listing.bids.last.amount}}</p>
            {% else %}
                <p>{{listing.current_price}}</p>
            {% endif %}
            <img src="{{listing.picture}}" alt="{{listing.picture_text}}">
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}